<!-- Header -->
<div class="row course-header mt-4 pt-2">
    <div class="col-4 d-flex align-items-center">
        <h5>{{ include.type | upcase }}</h5>
    </div>
    <div class="col-8 d-flex align-items-center">
        <!-- Availability -->
        <img src="/images/education/courses/icon-thesis-topic-availability.png" alt="Availability pencil icon" />
        <p class="course-header-icon-gap">{{ include.availability | upcase }}</p>

        <!-- Group lead -->
        <img src="/images/education/courses/icon-thesis-topic-group-lead.png" alt="Group lead message icon" />
        <p class="course-header-icon-gap">{{ include.lead | upcase }}</p>
    </div>
</div>

<!-- Body -->
<div class="row course-body mb-4">
    <div class="col-4">
        <h3>{{ include.title }}</h3>
    </div>
    <div class="col-5">
        <p>{{ include.description }}</p>
    </div>
</div>
<hr />