h3 {
    font-weight: 700;
}

/*
    NAVIGATION
*/
.navigation {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 24px;
    text-decoration: none;
    transition: 0.5s;
}

.navigation:hover {
    color: #000000;
}

.subnavigation {
    font-size: 16px;
    font-weight: 400;
    color: #191919;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    /*min-width: 10%;
    max-width: 20%;*/
    /*overflow: initial;*/
    /*word-wrap: initial;*/
    transition: 0.5s;
}

.active-subnavigation {
    font-size: 16px;
    font-weight: 700;
    color: #40916C;
    line-height: 24px;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    /*min-width: 10%;
    max-width: 30%;*/
    transition: 0.5s;
}

.subnavigation:hover,
.active-subnavigation:hover {
    color: #40916C;
}



/* 
    EDUCATION
*/

/* Education - education/courses */
.course-header {
    font-size: 12px;
    font-weight: 500;
    color: #5C5C5C;
    letter-spacing: 2px;
    line-height: 16px;
}

.course-header h5 {
    font-size: 12px;
    font-weight: 500;
    color: #40916C;
    line-height: 16px;
}


/* Education - education/defended-theses */
.defended-theses-row p {
    color: #191919;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 0;
}

.defended-theses-row h5 {
    /*Same thing as course-header h5*/
    font-size: 12px;
    font-weight: 500;
    color: #40916C;
    line-height: 16px;
}