---
layout: discover
title: Media
subtitle: Discover ADL
permalink: /discover/media
---
{% assign videos = site.data.media | where: "type", "video" %}
{% assign sorted = site.data.media | sort: "date" | reverse %}
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-12">
            <h2>ADL in media</h2>
        </div>
    </div>
    <div class="row mt-3">
        <span class="overlane-text mb-3">VIDEO</span>
        <div class="col-md-12">
            <div class="row">
                {% for video in videos %}
                <div class="col-xl-4 mt-3">
                    <div class="embedded_video">
                        <div class="embed-overlay"></div>
                        <div class="embed-body">
                            <i class="far fa-play-circle"></i>

                            <span class="embed-text">{{video.title}}</span>

                        </div>
                        <a class="embed-anchor" data-toggle="modal" data-target="#myModal" data-src="{{video.url}}"></a>
                        <img alt="" src="{{video.image}}" />
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="news">
        <span class="overlane-text">CONTINIUE READING</span>
        <h4 class="mb-5">Explore articles, reports and videos that feature ADL</h4>
        {% for news in sorted %}
        <div class="row my-4 news-card" id="news">
            <a class="card-anchor-absolute" href="{{news.url}}" target="_blank" style="z-index:1000"></a>
            <div class="col-md">
                <div class="news-card-body mt-3">

                    <h6>
                        {{news.title}}
                    </h6>
                    {% if news.type == "article" %}
                    <span class="overlane-text">ARTICLE • {{news.date}}</span>
                    {% else %}
                    <span class="overlane-text">VIDEO • {{news.date}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr />
        {% endfor %}
    </div>


</div>