---
layout: research
title: Projects
permalink: /research/projects
subtitle: Research
meta:  Here you can see what we've been working on in cooperation with our partners
---
<div class="grid tablet:grid-cols-6 gap-4">
    <div class="tablet:col-span-4 mb-10 xl:mb-12">
        <h3>{{page.title}}</h3>
        <p>We cannot possibly imagine delivering the self-driving future by ourselves. To get there, we have to
            combine
            forces with other like-minded thinkers and doers. Here you can see what we've been working on in
            cooperation
            with our partners.</p>
    </div>
</div>
<div class="grid grid-cols-1 md:grid-cols-12 gap-4">
    {% assign sorted_projects = site.projects | sort: "start_date" | reverse %}
    {% for post in sorted_projects %}
    <a href="{{post.url}}" class="md:col-span-6 tablet:col-span-4 border border-green py-4 px-6 text-primary flex flex-col justify-start h-full hover:bg-bgGreen hover:bg-opacity-25 transition-colors duration-300 ease-in-out hover:border-transparent green-shadow">
        {% if post.category %}
        <h5>{{post.category}}</h5>
        {% endif %}
        <p class="mb-4 font-semibold leading-4 line-clamp-2">{{post.title}}</p>
    </a>
    {% endfor %}
</div>
