---
layout: research
title: Publications
permalink: /research/publications
subtitle: Research
meta: Here you can see all our publications, no matter which research area they belong to.
---
<div>
    <div class="grid grid-cols-12 gap-4">
        <div class="md:col-span-8 col-span-12">
            <h2>{{ page.title }}</h2>
            <p class="md:pt-4">Here you can see <em>all</em> our publications, no matter which research area they belong to.</p>
        </div>
    </div>
</div>
<div class="spacer-medium"></div>
<div>
    {% assign papers = site.data.research-papers | sort: 'year' | reverse %}
    {% assign years = papers | map: 'year' | uniq %}

    <div class="menu-tags" data-filter-group="year" data-filter-target="#publication-list">
        <a class="menu-link active" data-filter-value="all" href="#">All publications</a>
        {% for year in years %}
        <a class="menu-link" data-filter-value="{{ year }}" href="#">{{ year }}</a>
        {% endfor %}
    </div>

    <div id="publication-list">
        {% for paper in papers %}
        <div class="filter-item item-row" data-filter-year="{{ paper.year }}">
            {% if paper.link != blank %}
            <a class="item-title" href="{{ paper.link }}" target="_blank">{{ paper.title }}</a>
            {% else %}
            <span class="item-title" style="cursor: default;">{{ paper.title }}</span>
            {% endif %}
            <div class="item-meta">
                {% if paper.authors != blank %}
                <span>{{ paper.authors }}</span>
                {% endif %}
                {% if paper.conference != blank %}
                <span class="dot">&bull;</span>
                <span>{{ paper.conference }}</span>
                {% endif %}
                {% if paper.year != blank %}
                <span class="dot">&bull;</span>
                <span>{{ paper.year }}</span>
                {% endif %}
                <span class="item-links">
                    {% if paper.link != blank %}
                    <span class="dot">&bull;</span>
                    <a href="{{ paper.link }}" target="_blank" title="Paper link"><i class="fas fa-globe"></i></a>
                    {% endif %}
                    {% if paper.github != blank %}
                    <a href="{{ paper.github }}" target="_blank" title="GitHub"><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if paper.video != blank %}
                    <a href="{{ paper.video }}" target="_blank" title="Video"><i class="fas fa-video"></i></a>
                    {% endif %}
                    {% if paper.file != blank %}
                    <a href="{{ paper.file }}" target="_blank" title="Download"><i class="fas fa-file"></i></a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
