---
layout: research
title: Publications
subtitle: Research
---
<script>
    var currentlySelectedField = "all";

    function filterByField(field) {
        //Button styling
        const previouslySelectedButton = document.getElementById(currentlySelectedField);
        previouslySelectedButton.classList.remove("filter-button-selected");
        const deselect_filter_button_x = document.getElementById("deselect-filter-button-x");
        if (deselect_filter_button_x !== null) {
            deselect_filter_button_x.remove();
        } else {}

        if (currentlySelectedField === field) {
            document.getElementById("all").classList.add("filter-button-selected");
            currentlySelectedField = "all";
        } else {
            document.getElementById("all").classList.remove("filter-button-selected");
            const nowSelectedButton = document.getElementById(field);
            nowSelectedButton.classList.add("filter-button-selected");
            currentlySelectedField = field;
            if (field !== "all") {
                nowSelectedButton.innerHTML = nowSelectedButton.innerHTML +
                    "<span id='deselect-filter-button-x'> ✖</span>";
            } //
        }



        //Actually displays the neccessary rows
        const thesis_rows = document.getElementsByClassName("defended-thesis-row");
        for (var i = 0; i < thesis_rows.length; i++) {
            if (currentlySelectedField !== "all") {
                thesis_rows[i].style.display = "none";
            } else {
                thesis_rows[i].style.display = "block";
            }
        }
        if (currentlySelectedField !== "all") {
            const thesis_rows_field = document.getElementsByClassName(currentlySelectedField)
            for (var i = 0; i < thesis_rows_field.length; i++) {
                thesis_rows_field[i].style.display = "block";
            }
        }
    }
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>{{page.title}}</h2>
            <p class="pt-md-3">Here you can see <em>all</em> our publications, no matter which research area they belong
                to.</p>
        </div>
    </div>
</div>
<div class="spacer-medium"></div>
<div class="container-fluid">
    <div class="row mb-5">
        <div class="col-md-8">
            <div id="all" class="filter-button filter-button-selected mt-2 mt-md-0" style="cursor: pointer;"
                onclick="filterByField('all')">
                <button type="button">All Publications</button>
            </div>
            <div id="2021" class="filter-button mt-2 mt-md-0" style="cursor: pointer;" onclick="filterByField('2021')">
                <button type="button">2021</button>
            </div>
            <div id="2020" class="filter-button mt-2 mt-md-0" style="cursor: pointer;" onclick="filterByField('2020')">
                <button type="button">2020</button>
            </div>
            <div id="2019" class="filter-button mt-2 mt-md-0" style="cursor: pointer;" onclick="filterByField('2019')">
                <button type="button">2019</button>
            </div>
        </div>
    </div>
    {% assign papers = site.data.research-papers | sort: 'year' | reverse %}
    {% for paper in papers %}
    {% include /research-papers.html
    title=paper.title
    authors=paper.authors
    conference=paper.conference
    year=paper.year
    link=paper.link
    github=paper.github
    video=paper.video
    file=paper.file
    website=paper.website
    %}
    {% endfor %}
</div>