---
layout: page
title: Publications
permalink: /research/publications
subtitle: Research
subnav: research
meta: Here you can see all our publications, no matter which research area they belong to.
---
<div class="grid grid-cols-1 tablet:grid-cols-6">
    <div class="tablet:col-span-4">
        <h3>{{ page.title }}</h3>
        Here you can see <em>all</em> our publications, no matter which research area they belong to.
    </div>
</div>
<div>
    {% assign papers = site.data.research-papers | sort: 'year' | reverse %}
    {% assign years = papers | map: 'year' | uniq %}

    <div class="flex media-items menu-tags mt-12 md:mt-16 mb-2 x-scroll" data-filter-group="year" data-filter-target="#publication-list">
        <a class="menu-link no-close active" data-filter-value="all" href="#">All publications</a>
        {% for year in years %}
        <a class="menu-link no-close" data-filter-value="{{ year }}" href="#">{{ year }}</a>
        {% endfor %}
    </div>

    <div id="publication-list">
        {% for paper in papers %}
        <div class="filter-item border-b border-green py-8 block" data-filter-year="{{ paper.year }}">
            {% if paper.link != blank %}
            <a href="{{ paper.link }}" target="_blank" class="text-primary font-semibold block">{{ paper.title }}</a>
            {% else %}
            <span class="text-primary font-semibold block" style="cursor: default;">{{ paper.title }}</span>
            {% endif %}
            <div class="md:flex md:items-center">
                {% if paper.authors != blank %}
                <p class="mb-2 md:mb-0 text-dot">{{ paper.authors }} </p>
                {% endif %}
                {% if paper.conference != blank %}
                <p class="md:flex md:items-center mb-2 md:mb-0 text-dot"> <span class="dot text-dot">&bull;</span> {{ paper.conference }} </p>
                {% endif %}
                {% if paper.year != blank %}
                <p class="md:flex md:items-center mb-2 md:mb-0 text-dot">, {{ paper.year }} </p>
                {% endif %}
                <div class="flex md:flex">
                    {% if paper.link and paper.link != "" %}
                    <span class="text-dot dot">&bull;</span><a href="{{ paper.link }}" target="_blank" class="mb-2 md:mb-0"><span class="icon-link"></span></a>
                    {% endif %}
                    {% if paper.github and paper.github != "" %}
                    <a href="{{ paper.github }}" target="_blank" class="mb-2 md:mb-0"><span class="icon-github"></span></a>
                    {% endif %}
                    {% if paper.video and paper.video != "" %}
                    <a href="{{ paper.video }}" target="_blank" class="mb-2 md:mb-0"><span class="icon-video"></span></a>
                    {% endif %}
                    {% if paper.file and paper.file != "" %}
                    <a href="{{ paper.file }}" target="_blank" class="mb-2 md:mb-0"><span class="icon-download"></span></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
