---
layout: discover
title: Meet our team
subtitle: Discover ADL
---
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-8">
            <h2>{{page.title}}</h2>
            <p class="mt-3">If you get incredibly excited about developing the autonomous driving industry in
                Estonia, you're in the right place. Get in touch with Tambet or Georg for potential cooperation.</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% assign leads = site.data.team | where: "group","lead" %}
        {% assign team_leads = site.data.team | where: "group","team lead" %}
        {% assign engineers = site.data.team | where: "group","engineer" %}
        {% assign students = site.data.team | where: "group","student" %}
        {% for lead in leads %}
        <div class="col-xxl-3 mb-5">
            <div class="card" style="border: none">
                <img src="{{ lead.image }}" alt="Image of {{ lead.name }}" class="pb-3" />
                <h5>{{lead.name}}</h5>
                <p>{{lead.position}}</p>
                <p><a href="mailto:{{lead.email}}">{{lead.email}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h4 class="my-5">Research leads</h4>
    <div class="row">
        {% for team_lead in team_leads %}
        <div class="col-xxl-3 mb-5">
            <div class="card" style="border: none">
                <img src="{{ team_lead.image }}" alt="Image of {{ team_lead.name }}" class="pb-3 " />
                <strong class="pt-3">{{team_lead.name}}</strong>
                <p>{{team_lead.position}}</p>
                <p><a href="mailto:{{team_lead.email}}">{{team_lead.email}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h4 class="my-5">Engineers</h4>
    <div class="row">
        {% for engineer in engineers %}
        <div class="col-xxl-3 mb-5">
            <div class="card" style="border: none">
                <img src="{{ engineer.image }}" alt="Image of {{ engineer.name }}" class="pb-3" />
                <strong class="pt-3">{{engineer.name}}</strong>
                <p>{{engineer.position}}</p>
                <p><a href="mailto:{{engineer.email}}">{{engineer.email}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
    <h4 class="my-5">Students</h4>
    <div class="row">
        {% for student in students %}
        <div class="col-xxl-3 mb-5">
            <div class="card" style="border: none">
                <img src="{{ student.image }}" alt="Image of {{ student.name }}" class="pb-3" />
                <strong class="pt-3">{{student.name}}</strong>
                <p>{{student.position}}</p>
                <p><a href="mailto:{{student.email}}">{{student.email}}</a></p>
            </div>
        </div>
        {% endfor %}
    </div>

</div>