<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Autonomous Driving Lab</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% for navigation-bar in site.data.navigation.navigation-bars %}
                    {% if navigation-bar.title == "main" %}
                    {% for navigation-bar-element in navigation-bar.subfolderitems %}
                    {% if page.url contains navigation-bar-element.url %}
                    <!-- Just and underline tag for now and active class -->
                    <li class="nav-item">
                        <u><a class="nav-link active"
                                href="{{ navigation-bar-element.url }}">{{ navigation-bar-element.page }}</a></u>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link"
                            href="{{ navigation-bar-element.url }}">{{ navigation-bar-element.page }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</header>