    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body mb-0 p-0">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <iframe height="500px" width="80%" class="embed-responsive-item" src="" id="video"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            var $videoSrc;
            $('.embed-anchor').click(function () {
                $videoSrc = $(this).data("src");
                $('#modal').modal('show');
            });
            $('.close').click(function () {
                $('#modal').modal('hide');
            });
            $('#modal').on('shown.bs.modal', function (e) {
                $("#video").attr('src', $videoSrc + "?autoplay=1");
            })
            $('#modal').on('hide.bs.modal', function (e) {
                $("#video").attr('src', $videoSrc);
            })
        });
    </script>

