<footer class="mt-5">
    <div class="main-content-container">
        <div class="container-fluid">
            <div class="row row-cols-10 py-5">
                <div class="col-6">
                    <h5 class="mb-3">Autonomous Driving Lab</h5>
                    <p class="mb-2">Narva mnt 18</p>
                    <p class="mb-2">51009 Tartu</p>
                    <p class="mb-2">Estonia</p>
                    <p><a href="mailto:adl@ut.ee">adl@ut.ee</a></p>
                </div>

                <div class="col">
                    <h5 class="mb-3">Discover ADL</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/discover/about" class="nav-link p-0">About us</a></li>
                        <li class="nav-item mb-2"><a href="/discover/projects" class="nav-link p-0">Projects</a></li>
                        <li class="nav-item mb-2"><a href="/discover/media" class="nav-link p-0">Media</a></li>
                        <li class="nav-item mb-2"><a href="/discover/team" class="nav-link p-0">Meet our team</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="mb-3">The Lab</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/lab/vehicle" class="nav-link p-0">Vehicle</a></li>
                        <li class="nav-item mb-2"><a href="/lab/simulation" class="nav-link p-0">Simulation</a></li>
                        <li class="nav-item mb-2"><a href="/lab/parking-lot" class="nav-link p-0">Parking lot</a></li>
                        <li class="nav-item mb-2"><a href="/lab/demo-track" class="nav-link p-0">Demo track</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="mb-3">Research</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/research/research_areas" class="nav-link p-0">Research areas</a></li>
                        <li class="nav-item mb-2"><a href="/research/publications" class="nav-link p-0">Publications</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5 class="mb-3">Education</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/teaching/courses" class="nav-link p-0">Courses</a></li>
                        <li class="nav-item mb-2"><a href="/teaching/thesis-topics" class="nav-link p-0">Defended theses</a></li>
                        <li class="nav-item mb-2"><a href="/teaching/defended-theses" class="nav-link p-0">Thesis topics</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
