<div class="{{ include.year | downcase }} row defended-thesis-row">
    <div class="col-8">
        <div class="row mb-2">
            <h5>{{ include.title }}</h5>
        </div>
        <div class="row">
            <div class="col">

                <p class>
                    {{ include.authors }}
                </p>

                <span>•</span>

                <p>
                    {{ include.conference }}
                </p>

                <span>•</span>

                <p>
                    {{ include.year }}
                </p>

                <span>•</span>
                {% assign link = include.link | strip_newlines %}
                {% if link != "" %}
                <a href="{{include.link}}" target="_blank"><i class="fas fa-globe"></i></a>
                {% endif %}

                {% assign github = include.github | strip_newlines %}
                {% if github != "" %}
                <a href="{{include.github}}" target="_blank"><i class="fab fa-github"></i></a>
                {% endif %}

                {% assign file = include.file | strip_newlines %}
                {% if file != "" %}
                <a href="{{include.file}}" download><i class="fas fa-file"></i></a>
                {% endif %}

                {% assign video = include.video | strip_newlines %}
                {% if video != "" %}
                <a href="{{include.video}}" target="_blank"><i class="fas fa-video"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row my-2">
        <div class="col-8">
            <hr />
        </div>
    </div>
</div>