---
layout: page
title: Courses
permalink: /teaching/courses
subtitle: Teaching
subnav: teaching
meta: One of our goals is to prepare future workforce for the up-and-coming autonomous driving industry in Estonia (and elsewhere).
---
<div class="grid tablet:grid-cols-6 gap-4 mb-12 md:mb-14 xl:mb-16">
    <div class="tablet:col-span-4">
        <h3>{{ page.title }}</h3>
        One of our goals is to prepare future workforce for the up-and-coming autonomous driving
        industry in Estonia (and elsewhere) -- this is a long process.
        Providing the students here at the Institute of Computer Science with a variety of courses that provide
        them with an opportunity to get familiar
        with the basics of self-driving software, is a critical first step.
    </div>
</div>
<div>
    {% assign categories = site.data.courses | map: 'type' | uniq %}

    <div class="flex media-items menu-tags mt-12 md:mt-16 mb-2 x-scroll" data-filter-group="category" data-filter-target="#courses-list">
        <a class="menu-link no-close active" data-filter-value="all" href="#">All courses</a>
        {% for cat in categories %}
        <a class="menu-link no-close" data-filter-value="{{ cat }}" href="#">{{ cat | downcase | capitalize }}</a>
        {% endfor %}
    </div>

    <div id="courses-list">
        {% for course in site.data.courses %}
        <div class="filter-item" data-filter-category="{{ course.type }}">
            <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4 tablet:gap-6 border-b border-green py-8">
                <div class="col-span-4">
                    {% if course.type != blank %}
                    <h5 class="mb-6">{{ course.type | upcase }}</h5>
                    {% endif %}
                    <h3 class="mb-4">{{ course.title }}</h3>
                </div>
                <div class="sm:col-span-8">
                    <div class="sm:flex mb-4">
                        {% if course.ects != blank %}
                        <div class="flex">
                            {% if course.spicyness == 1 %}
                            <p class="flex mb-0"><span class="car"></span><span class="car opacity-30"></span><span class="car opacity-30"></span></p>
                            {% endif %}
                            {% if course.spicyness == 2 %}
                            <p class="flex mb-0"><span class="car"></span><span class="car"></span><span class="car opacity-30"></span></p>
                            {% endif %}
                            {% if course.spicyness == 3 %}
                            <p class="flex mb-0"><span class="car"></span><span class="car"></span><span class="car"></span></p>
                            {% endif %}
                            <h5 class="text-green ml-2 mr-8 mb-0">{{ course.ects }} ECTS</h5>
                        </div>
                        {% endif %}
                        {% if course.code != blank %}
                        <h5 class="text-green mr-2 pr-8 sm:my-0 mb-0"><span class="cap">{{ course.code | upcase }}</span></h5>
                        {% endif %}
                        {% if course.lecturer != blank %}
                        <h5 class="text-green mb-0"><span class="icon-user">Lecturer: {{ course.lecturer }}</span></h5>
                        {% endif %}
                    </div>
                    <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4 mt-1">
                        <div class="mb-4 sm:col-span-8">
                            {{ course.description }}
                        </div>
                        <div class="xl:col-start-10 col-span-4 xl:col-span-3 place-self-center tablet:place-self-auto">
                            {% if course.link != blank %}
                            <a href="{{ course.link }}" class="button-primary tablet:px-8 lg:px-0" target="_blank">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
