---
layout: teaching
title: Defended theses
permalink: /teaching/defended-theses
subtitle: Teaching
meta: Take a look at all the magnificent theses that our students have written about self-driving.
---
<div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="md:col-span-8">
            <h2>{{ page.title }}</h2>
            <p class="md:pt-4">Take a look at all the magnificent theses that our students have written about
                self-driving. Surely this list contains the names of future leading specialists of the self-driving
                academia and industry!</p>
        </div>
    </div>
</div>
<div class="spacer-medium"></div>
<div>
    {% assign theses = site.data.defended-theses | sort: 'year' | reverse %}
    {% assign degrees = theses | map: 'field' | uniq | sort_natural %}
    {% assign years = theses | map: 'year' | uniq | sort | reverse %}

    <div class="menu-tags" data-filter-group="degree" data-filter-target="#theses-list">
        <a class="menu-link active" data-filter-value="all" href="#">All</a>
        {% for degree in degrees %}
        <a class="menu-link" data-filter-value="{{ degree }}" href="#">{{ degree }}</a>
        {% endfor %}
        {% for year in years %}
        <a class="menu-link" data-filter-value="{{ year }}" href="#">{{ year }}</a>
        {% endfor %}
    </div>

    <div id="theses-list">
        {% for thesis in theses %}
        <div class="filter-item item-row" data-filter-degree="{{ thesis.field }},{{ thesis.year }}">
            {% if thesis.link != blank %}
            <a class="item-title" href="{{ thesis.link }}" target="_blank">{{ thesis.title }}</a>
            {% else %}
            <span class="item-title" style="cursor: default;">{{ thesis.title }}</span>
            {% endif %}
            <div class="item-meta">
                {% if thesis.author != blank %}
                <span>{{ thesis.author }}</span>
                <span class="dot">&bull;</span>
                <span>{{ thesis.field }}</span>
                {% endif %}
                {% if thesis.supervisor != blank %}
                <span class="dot">&bull;</span>
                <span>Supervisor: {{ thesis.supervisor }}</span>
                {% endif %}
                {% if thesis.year != blank %}
                <span class="dot">&bull;</span>
                <span>{{ thesis.year }}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
