---
layout: teaching
subtitle: Teaching
---
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-8">
            <h2>Thesis Topics</h2>
            <p class="pt-md-3">So you’re thinking of making the culmination of your studies about self-driving?</p>
            <p>Good, because we need all the help we can get. See all the available thesis topics and don’t hesitate to
                contact us, should your own idea of a self-driving topic not be listed!</p>
        </div>
    </div>
</div>
<div class="spacer-medium"></div>
<div class="container-fluid">
    {% for topic in site.data.teaching.thesis-topics %}
    {% include teaching/thesis-topic.html 
        title=topic.title 
        description=topic.description
        type=topic.type
        availability=topic.availability
        lead=topic.lead
    %}
    {% endfor %}
</div>