---
layout: teaching
title: Thesis topics
permalink: /teaching/thesis-topics
subtitle: Teaching
meta: See all the available thesis topics and don't hesitate to contact us, should your own idea of a self-driving topic not be listed!
---
<div class="grid grid-cols-1 tablet:grid-cols-6 gap-4 mb-2 md:mb-4 xl:mb-8 pb-2">
    <div class="tablet:col-span-4">
        <h3>{{ page.title }}</h3>
        So you're thinking of making the culmination of your studies about self-driving?
        Good, because we need all the help we can get. See all the available thesis topics and don't hesitate to
        contact us, should your own idea of a self-driving topic not be listed!
    </div>
</div>
<div>
    {% for topic in site.data.thesis-topics %}
    <details class="border-b border-green pt-8 pb-4">
        <summary>
            {% assign degrees = "" %}
            {% if topic.availability.BSc %}{% assign degrees = degrees | append: "BSC," %}{% endif %}
            {% if topic.availability.MSc %}{% assign degrees = degrees | append: "MSC," %}{% endif %}
            {% if topic.availability.PhD %}{% assign degrees = degrees | append: "PHD," %}{% endif %}
            {% assign degrees = degrees | split: ',' | compact | join: ', ' %}

            <div class="flex">
                {% if topic.type != blank %}
                <h5>{{ topic.type }}</h5>
                {% endif %}
                {% if degrees != "" %}
                <h5>{% if topic.type != blank %}<span class="dot my-4 text-green">&bull;</span>{% endif %}{{ degrees }}</h5>
                {% endif %}
            </div>
            <div class="flex justify-end cursor-pointer"><h3 class="mb-4 mr-auto">{{ topic.title }}</h3><span class="chevron-down"></span></div>
        </summary>
        <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4 mt-8 mb-8 md:mb-10 xl:mb-12">
            <div class="tablet:col-start-4 tablet:col-span-7">
                <div class="sm:flex">
                    {% if topic.file != null and topic.file != "#" %}
                    <h5><a href="{{ topic.file }}" target="_blank" class="inline-flex flex-wrap"><span class="icon-file thesis"></span>Thesis overview</a></h5>
                    {% endif %}
                    {% assign supervisors = "" %}
                    {% for lead in topic.leads %}
                        {% if supervisors != "" %}{% assign supervisors = supervisors | append: ", " %}{% endif %}
                        {% assign supervisors = supervisors | append: lead.name %}
                    {% endfor %}
                    {% if supervisors != "" %}
                    <h5 class="tablet:ml-6"><span class="icon-user">Supervisor: {{ supervisors }}</span></h5>
                    {% endif %}
                </div>
                <div>
                    {% if topic.description != blank %}
                    <p>{{ topic.description }}</p>
                    {% endif %}

                    {% assign emails = "" %}
                    {% for lead in topic.leads %}
                        {% if emails != "" %}{% assign emails = emails | append: "," %}{% endif %}
                        {% assign emails = emails | append: lead.email %}
                    {% endfor %}

                    <div class="flex mt-10 items-center">
                        {% if emails != "" %}
                        <a href="mailto:{{ emails }}" class="custom-btn">Email theses supervisor</a>
                        {% endif %}
                        {% if topic.file != null and topic.file != "#" %}
                        <a href="{{ topic.file }}" target="_blank" class="text-orange ml-10">See thesis overview</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </details>
    {% endfor %}
</div>
