---
layout: discover
subtitle: Discover ADL
---
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Meet Our Team</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <!-- Deal with the team tab image fitting later. Also add team member data. -->
    {% assign counter = 0 %}
    {% for member in site.data.discover.team %}
    <!-- <p>Counter: {{ counter }}</p> -->
    {% if counter == 0 %}
    <div class="row">
        {% endif %}
        <div class="col-4 team-member-column">
            <img src="/images/team/{{ member.image }}" alt="Image of {{ member.name }}" />
        </div>
        {% if counter == 2 %}
    </div>
    {% endif %}
    {% assign counter = counter | plus: 1 %}
    {% assign counter = counter | modulo: 3 %}
    {% endfor %}
</div>