---
layout: page
title: Simulation
permalink: /lab/simulation
subtitle: The Lab
subnav: lab
meta: Testing the self-driving algorithms in a simulated environment.
---
<h2>{{page.title}}</h2>
<div class="grid grid-cols-1 md:grid-cols-12 gap-4 mb-12 md:mb-14 xl:mb-16">
        <div class="md:col-span-9 col-span-12">
            <p>Let’s say a member of our team develops a novel piece of a self-driving algorithm -
                one that follows new principles and is entirely untried in its fundamental approach.
                Everyone is itching to give it a try, but for obvious reasons we cannot simply let our car loose on the
                town when it’s being operated by this exciting but untried software. But all experiments must start
                somewhere, right? This is where our simulation comes in handy.
                <br>
                <br>
                By simulation we mean we have a full digital twin
                of the real-world <a href="/lab/demo-track">demo track</a>, accurate to a decimeter.
                The simulation is implemented in
                <a href="https://carla.org/" rel="nofollow" target="_blank">CARLA</a>.
                <br>
                <br>
                The creation of such an accurate digital twin relied heavily on the data provided by the <a
                    href="https://geoportaal.maaamet.ee/eng/Spatial-Data-p58.html" rel="nofollow" target="_blank">
                    Estonian
                    Land Board</a>, especially the <a rel="nofollow"
                    href="https://geoportaal.maaamet.ee/eng/Spatial-Data/Elevation-Data-p308.html"
                    target="_blank">elevation
                    data</a>
                and <a rel="nofollow" href="https://geoportaal.maaamet.ee/eng/Spatial-Data/Orthophotos-p309.html"
                    target="_blank">orthophotos</a>.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
        <div class="md:col-span-9 col-span-12">
            <div class="grid md:grid-cols-2 gap-4">
                <div>
                    {% include youtube.html id="z6u2FmX3oqQ" %}
                </div>
                <div>
                    {% include youtube.html id="9t-gBJ9FW6U" %}
                </div>
            </div>
        </div>
    </div>
    <div class="heading-bg mt-4">
        <h2>Give the simulation a go!</h2>
        <h4>We’ve gathered everything necessary for you to start out.</h4>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-4 mb-12 pb-12 mt-4">
        <div class="md:col-span-4 col-span-12 my-2">
            <a class="card-anchor" rel="nofollow"
                href="https://github.com/carla-simulator/carla/releases/tag/0.9.15"
                target="_blank">
                <div class="tutorial-card">
                    <div class="research-card-body">
                        <span class="overlane-text">SIMULATION ENGINE</span>
                        <br>
                        <strong>Download the CARLA simulator</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="md:col-span-4 col-span-12 my-2">
            <a class="card-anchor" href="https://github.com/UT-ADL/carla_tartu_demo/releases/tag/v0.9.15.2"
                target="_blank" rel="nofollow">
                <div class="tutorial-card">
                    <div class="research-card-body">
                        <span class="overlane-text">DIGITAL TWIN</span>
                        <br>
                        <strong>Download the digital twin of our Tartu demo track</strong>
                    </div>
                </div>
            </a>
        </div>
        <div class="md:col-span-4 col-span-12 my-2">
            <a class="card-anchor"
                href="https://github.com/UT-ADL/carla_tartu_demo"
                target="_blank" rel="nofollow">
                <div class="tutorial-card">
                    <div class="research-card-body">
                        <span class="overlane-text">TUTORIAL</span>
                        <br>
                        <strong>Read how to run the simulation</strong>
                    </div>
                </div>
            </a>
        </div>
    </div>