<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div>

        {% include main-navigation-bar.html %}

        <div>
            <main>
                {% include page-heading.html 
                    title=page.subtitle
                    body="The requested content you were looking for was
                    not found."
                %}
                <div class="page-header-spacer"></div>
                <div class="content main-content-container">
                    {{content}}
                </div>
            </main>
            <div class="page-footer-spacer"></div>
            {% include footer.html %}
        </div>
    </div>
    {% include foot.html %}
</body>

</html>