<!doctype html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
    <div>

        {% include main-navigation-bar.html %}

        <div>
            <main>
                <div class="page-heading container-fluid d-inline-flex align-items-end">
                    <div class="page-heading-inner main-content-container mb-5">
                        <h1 class="page-title-header text-white">{{page.subtitle}}</h1>
                        <p class="page-title-caption text-white mt-3"> The requested content you were looking for was
                            not found.
                        </p>
                    </div>
                </div>
                <div class="page-header-spacer"></div>
                <div class="content main-content-container">
                    {{content}}
                </div>
            </main>
            <div class="page-footer-spacer"></div>
            {% include footer.html %}
        </div>
    </div>
    {% include foot.html %}
</body>

</html>
