<!doctype html>
<html lang="en">

<head>
	{% include head.html %}
	<meta name="description" content="">
</head>

<body>
<div>

	{% include main-navigation-bar.html %}

	<div class="project-page">
		<main>

			{% include page-heading.html
			title="Blog"
			body="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in facilisis nunc,ut pellentesque est libero molestie."
			%}

			<div class="content main-content-container mt-5">
				<div class="container-fluid">
					<span class="overlane-text">{{page.date | date: "%D"}}</span>
					<h3 class="w-50 mb-5">
						{{page.title}}
					</h3>
					<div class="row g-0">
						<div class="col-lg-8 mt-3">
							{{content}}
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include footer.html %}
	</div>
</div>
{% include foot.html %}
</body>

</html>