<!doctype html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
<div>

	{% include main-navigation-bar.html %}

	<div class="project-page">
		<main>

			{% include page-heading.html
			title="Blog"
			body="Find out what we have been working on."
			%}

			<div class="mx-auto max-w-7xl w-85 mt-12 mb-24">
				<div>
					<div class="grid grid-cols-1 tablet:grid-cols-12 gap-4">
						<div class="tablet:col-span-9 mt-2 pr-12">
							<div>
								{{content}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include footer.html %}
	</div>
</div>
{% include foot.html %}
</body>

</html>