<!doctype html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
<div>

	{% include main-navigation-bar.html %}

	<div class="project-page">
		<main>

			{% include page-heading.html
			title="Blog"
			body="Find out what we have been working on."
			%}

			<div class="content main-content-container mt-5">
				<div class="container-fluid">
					<span class="overlane-text">{{page.date | date: "%D"}}</span>
					<h3 class="w-50 mb-5">
						{{page.title}}
					</h3>
					<div class="row g-0">
						<div class="col-lg-8 mt-3">
							{% if page.image != null and page.image != "" %}
							<p>
								<img alt="{{page.alt}}" src="{{page.image}}" style="max-width: 100%">
							</p>
							{% endif %}
							{{content}}
						</div>
					</div>
				</div>
			</div>
		</main>
		{% include footer.html %}
	</div>
</div>
{% include foot.html %}
</body>

</html>