<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    <div>

        {% include main-navigation-bar.html %}

        <main>

            {% include page-heading.html 
                title=page.subtitle
                body="We are the Autonomous Driving Lab - see what it is that we do.
                <br/>
                Spoiler: we make cars drive. By themselves."
            %}

            {% include subnavigation-bar.html navigation-bar-title="discover" %}

            <div class="content main-content-container">
                {{content}}
            </div>
        </main>
        {% include footer.html %}
    </div>
    {% include foot.html %}
</body>

</html>