<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
	<meta name="image" content="../images/landing/discover.jpg">
	<meta name="description" content="Discover the Autonomous Driving Lab of the University of Tartu, Estonia. We help to lay foundations for the autonomous driving industry in Estonia."/>
</head>

<body>
    <main>
        <div class="landing_nav">
            {% include main-navigation-bar.html 
                applyMobileBackground=true
            %}
        </div>
        {{content}}
    </main>
    {% include footer.html %}
    {% include foot.html %}
</body>

</html>