<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter&display=swap"
        rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <title>Autonomous Driving Lab</title>
</head>

<body>
    <div>

        {% include navigation/main-navigation-bar.html %}

        <div>
            <main>
                <div class="page-heading container-fluid d-inline-flex align-items-end">
                    <div class="page-heading-inner container-lg mb-5">
                        <h1 class="page-title-header text-white">Discover ADL</h1>
                        <p class="page-title-caption text-white mt-3"> Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </p>
                    </div>
                </div>
                {% include navigation/subnavigation-bar.html navigation-bar-title="discover" %}
                <div class="content container-lg mt-5">
                    <div class="container-fluid">
                        <h2 class="w-50">
                            {{page.title}}
                        </h2>
                        <div class="row">
                            <div class="col-md-9 mt-2 pe-5">
                                <div class="container-lg g-0 pt-3">
                                    <div class="row">
                                        {{content}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 project-channels mt-2 px-5">
                                <hr />
                                <span class="overlane-text">PROJECT CHANNELS</span>
                                <br>
                                {% if page.twitter != null and page.twitter != "" %}
                                <a href="{{page.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if page.facebook != null and page.facebook != "" %}
                                <a href="{{page.facebook}}"><i class="fab fa-facebook-square"></i></a>
                                {% endif %}
                                {% if page.instagram != null and page.instagram != "" %}
                                <a href="{{page.instagram}}"><i class="fab fa-instagram-square"></i></a>
                                {% endif %}
                                {% if page.webURL != null and page.webURL != "" %}
                                <a href="{{page.webURL}}"><i class="fas fa-globe"></i></a>
                                {% endif %}
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-lg my-5">
                    <span>DISCOVER MORE</span>
                    <h3>Explore Other ADL Projects</h3>
                </div>
                <div class="container-lg">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                {% for post in site.posts %}
                                <div class="col-md-3 project-card my-2 mx-2">
                                    <a class="card-anchor" href="{{post.url}}"></a>
                                    <span class="overlane-text">PROJECT</span>
                                    <br>
                                    <h5 class="mb-3">
                                        {{post.title}}</h5>
                                    <p>
                                        <a class="link" href="{{post.url}}">Learn More</a>
                                    </p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            {% include footer.html %}
        </div>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>