<!doctype html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
    <div>

        {% include navigation/main-navigation-bar.html %}

        <div class="project-page">
            <main>
                <div class="page-heading container-fluid d-inline-flex align-items-end">
                    <div class="page-heading-inner main-content-container mb-5">
                        <h1 class="page-title-header text-white">Discover ADL</h1>
                        <p class="page-title-caption text-white mt-3"> Lorem ipsum dolor sit amet, consectetur
                            adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                        </p>
                    </div>
                </div>
                {% include navigation/subnavigation-bar.html navigation-bar-title="discover" %}
                <div class="content main-content-container mt-5">
                    <div class="container-fluid">
                        <h2 class="w-50">
                            {{page.title}}
                        </h2>
                        <div class="row">
                            <div class="col-md-9 mt-2 pe-5">
                                <div class="container-lg g-0 pt-3">
                                    <div class="row">
                                        {{content}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 project-channels mt-2 px-5">
                                <hr />
                                <span class="overlane-text">PROJECT CHANNELS</span>
                                <br>
                                {% if page.twitter != null and page.twitter != "" %}
                                <a href="{{page.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if page.facebook != null and page.facebook != "" %}
                                <a href="{{page.facebook}}"><i class="fab fa-facebook-square"></i></a>
                                {% endif %}
                                {% if page.instagram != null and page.instagram != "" %}
                                <a href="{{page.instagram}}"><i class="fab fa-instagram-square"></i></a>
                                {% endif %}
                                {% if page.webURL != null and page.webURL != "" %}
                                <a href="{{page.webURL}}"><i class="fas fa-globe"></i></a>
                                {% endif %}
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            {% include footer.html %}
        </div>
    </div>
    {% include foot.html %}
</body>

</html>
