---
layout: default
---
{% assign title_capitalize = page.title | capitalize %}
{% assign theses = site.data.defended-theses | where: "research_area", title_capitalize %}
{% assign research_papers = site.data.research-papers | where: "research_area", title_capitalize %}
{% include page-heading.html title="Research" %}
<nav class="navbar-styling">
    <div class="content-wrapper">
        {% include subnavigation-bar.html navigation-bar-title="research" %}
    </div>
</nav>
<div class="content-wrapper mt-12 md:mt-16 mb-12 md:mb-16 xl:mb-20">
    <main>
        <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4">
            <div class="tablet:col-span-8 content-formatted">
                <article class="post mb-4">
                    <header class="post-header">
                        <h3 class="post-title mt-4 tablet:mt-0">{{ page.title }}</h3>
                        <div class="post-body content-formatted">{{ content }}</div>
                    </header>
                </article>
            </div>
            <div class="tablet:col-start-10 tablet:col-span-3">
                <div class="research-area">
                    <div class="border-b border-green">
                        {% if page.lead_image %}
                        <img src="{{ page.lead_image }}" alt="{{ page.research_lead }}" class="mb-6 w-full" />
                        {% else %}
                        <img src="/images/team/lead.png" alt="Team lead" class="mb-6 w-full" />
                        {% endif %}
                        <p class="mb-0"><b>{{ page.research_lead }}</b></p>
                        {% if page.lead_description != blank %}
                        <p class="text-dot">{{ page.lead_description }}</p>
                        {% endif %}
                        {% if page.lead_email != blank %}
                        <a href="mailto:{{ page.lead_email }}"><span class="envelope mr-1 mb-8">{{ page.lead_email }}</span></a>
                        {% endif %}
                    </div>
                </div>

                {% if page.webURL != null or page.twitter != null or page.facebook != null or page.instagram != null %}
                <div>
                    <h5 class="mt-8 mb-4">Group channels</h5>
                    <div class="flex items-center">
                        {% if page.webURL != null and page.webURL != "" %}
                        <a href="{{ page.webURL }}" class="icon-link research-area" target="_blank"></a>
                        {% endif %}
                        {% if page.facebook != null and page.facebook != "" %}
                        <a href="{{ page.facebook }}" class="icon-facebook" target="_blank"></a>
                        {% endif %}
                        {% if page.instagram != null and page.instagram != "" %}
                        <a href="{{ page.instagram }}" class="icon-instagram" target="_blank"></a>
                        {% endif %}
                        {% if page.twitter != null and page.twitter != "" %}
                        <a href="{{ page.twitter }}" target="_blank" class="icon-twitter"></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4">
            {% if research_papers != empty %}
            <div class="mt-14 md:mt-16 research-details tablet:col-span-8 place-self-start">
                <h5>Research papers</h5>
                {% for paper in research_papers %}
                <a href="{{ paper.link }}" target="_blank">{{ paper.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="grid grid-cols-1 tablet:grid-cols-12 gap-4">
            {% if theses != empty %}
            <div class="mt-12 md:mt-14 xl:mt-16 research-details tablet:col-span-8 place-self-start">
                <h5>Theses</h5>
                {% for thesis in theses %}
                <a href="{{ thesis.link }}" target="_blank">{{ thesis.title }}</a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="relative mt-6 md:mt-10">
            {% assign allAreas = site.research-areas | sort: "title" %}
            <ul id="researchSlider">
                {% for area in allAreas %}
                {% if area.title != page.title %}
                <li>
                    <a href="{{ area.url }}" class="border border-green px-4 py-8 text-primary flex items-center hover:bg-bgGreen hover:bg-opacity-25 transition-colors duration-300 ease-in-out hover:border-transparent green-shadow">
                        <img src="{{ area.icon }}" class="mr-2 research-img"/>
                        <p class="mb-0 font-semibold">{{ area.title }}</p>
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <div class="absolute left-0 bottom-11px">
                <a href="/research/research-areas" class="button-primary">All research areas</a>
            </div>
        </div>
    </main>
</div>
