<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    <link rel="stylesheet" href="/css/fonts.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Inter&display=swap"
        rel="stylesheet">
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin></script>
    <title>Autonomous Driving Lab</title>
</head>

<body>
    <div>

        <!-- Main navigation bar -->
        {% include navigation/main-navigation-bar.html %}

        <div>
            <main>
                <div class="page-heading container-fluid d-inline-flex align-items-end">
                    <div class="page-heading-inner container-lg mb-5">
                        <h1 class="page-title-header text-white">Research</h1>
                        <p class="page-title-caption text-white mt-3 w-75"> Making cars drive by themselves is a big
                            task. A
                            huge task. To help you (and us) better understand what is needed to make it happen, we have
                            divided our work into focus areas.</p>
                    </div>
                </div>

                <!-- Sub-navigation bar-->
                {% include navigation/subnavigation-bar.html navigation-bar-title="research" %}

                <div class="content container-lg">
                    <div class="container-fluid">
                        <h2 class="w-50">
                            {{page.title}}
                        </h2>
                        <div class="row">
                            <div class="col-md-9 mt-2 pe-5">
                                <div class="container-lg g-0 pt-3">
                                    <div class="row">
                                        {{content}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <img alt="" src="{{page.imageurl1}}">
                                    </div>
                                    <div class="col-md-6">
                                        <img alt="" src="{{page.imageurl2}}">
                                    </div>
                                    <div class="col-md-6">
                                        <img alt="" src="{{page.imageurl3}}">
                                    </div>
                                    <div class="col-md-6">
                                        <img alt="" src="{{page.imageurl4}}">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 project-channels mt-2 px-5">
                                <img src="{{page.lead_image}}" alt=""><br>
                                <strong>{{page.research_lead}}</strong>
                                <p>{{page.lead_description}}</p>
                                <p><i class="fas fa-envelope"></i>{{page.lead_email}}</p>
                                <hr />
                                <span class="overlane-text">GROUP CHANNELS</span>
                                <br>
                                {% if page.webURL != null and page.webURL != "" %}
                                <a href="{{page.webURL}}"><i class="fas fa-globe"></i></a>
                                {% endif %}
                                {% if page.twitter != null and page.twitter != "" %}
                                <a href="{{page.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                                {% if page.facebook != null and page.facebook != "" %}
                                <a href="{{page.facebook}}"><i class="fab fa-facebook-square"></i></a>
                                {% endif %}
                                {% if page.instagram != null and page.instagram != "" %}
                                <a href="{{page.instagram}}"><i class="fab fa-instagram-square"></i></a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% if page.research_paper_title != null and page.research_paper_title != "" %}
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <span class="overlane-text ">
                                RESEARCH PAPERS
                            </span>
                            <h6 class="mt-3">
                                {{page.research_paper_title}}
                            </h6>
                        </div>
                    </div>
                    {% endif %}
                    {% if page.open_position != null and page.open_position != "" %}
                    <div class="row mt-3">
                        <div class="col-md-8">
                            <span class="overlane-text ">
                                OPEN POSITION
                            </span>
                            <p class="mt-3">
                                {{page.open_position}}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </main>
            <footer class="row row-cols-10 py-5 g-0">
                <div class="col-6">
                    <h5></h5>
                    <p>
                        Narva mnt 18<br>
                        51009 Tartu<br>
                        Estonia
                    </p>
                    <p><a href="mailto:adl@ut.ee">adl@ut.ee</a></p>
                </div>

                <div class="col">
                    <h5>Discover ADL</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">About us</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Projects</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Media</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Contact us</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>The Lab</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Vehicle</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Simulation</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Parking lot</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Demo track</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Research</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Area 1</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Area 2</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Area 3</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Area 4</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h5>Education</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Courses</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Defended theses</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Thesis topcis</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>

    <script src="/js/bootstrap.js"></script>
</body>

</html>