<!doctype html>
<html lang="en">

<head>
{% include head.html %}
</head>

<body>
    <div>

        <!-- Main navigation bar -->
        {% include main-navigation-bar.html %}

        <main>
            <div class="page-heading container-fluid d-inline-flex align-items-end">
                <div class="page-heading-inner main-content-container mb-5">
                    <h1 class="page-title-header text-white">{{page.subtitle}}</h1>
                    <p class="page-title-caption text-white mt-3 w-75"> Making cars drive by themselves is a big task. A
                        huge task. To help you (and us) better understand what is needed to make it happen, we have
                        divided our work into focus areas.</p>
                </div>
            </div>

            <!-- Sub-navigation bar-->
            {% include subnavigation-bar.html navigation-bar-title="research" %}

            <div class="content main-content-container">
                {{content}}
            </div>
        </main>
        {% include footer.html %}
    </div>
    {% include foot.html %}
</body>

</html>
