<!doctype html>
<html lang="en">

<head>
    {% include head.html %}
	<meta name="description" content="One of our goals is to prepare future workforce for the up-and-coming autonomous driving industry in Estonia (and elsewhere) – this is a long process. Providing the students here at the Institute of Computer Science with a variety of courses that provide them with an opportunity to get familiar with the basics of self-driving software, is a critical first step.">
</head>

<body>
    <div>

        {% include main-navigation-bar.html %}

        <div>
            <main>

                {% include page-heading.html 
                    title=page.subtitle
                    body="We believe that self-driving cars can’t come soon enough. If you feel the same way and 
                    want to be smart enough to do something about it, then rest assured: you’ve come to the right place."
                %}

                {% include subnavigation-bar.html navigation-bar-title="teaching" %}

                <div class="content main-content-container">
                    {{content}}
                </div>

                <div class="page-footer-spacer"></div>
            </main>
            {% include footer.html %}
        </div>
    </div>

    {% include foot.html %}
</body>

</html>